    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Category List Start -->
                        <div class="service-catagery-list wow fadeInUp">
                            <h3>ژن های دخیل در سرطان</h3>
                            <ul>
                                <li><a href="cancer2.html">ژن های دخیل در سرطان</a></li>
                                <li><a href="understandingcancer.html">عوامل خطر در بروز سرطان</a></li>
                                <li><a href="tissuealterations.html">نوجوانان و جوانان مبتلا به سرطان</a></li>
                            </ul>
                        </div>
                        <!-- Service Category List End -->

                        <!-- Sidebar Cta Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                              <img src="images/icon-cta.svg" alt="">
                            </div>
                            <!-- Icon Box Start -->

                            <!-- CTA Contact Content Start -->
                            <div class="cta-contact-content">
                                <h3>برای مشاروه نیاز به کمک دارید؟</h3>
                                <p>با مرکز ارتباطات کشوری به صورت 24 ساعت روز و 7 روز هفته در تماس باشید</p>
                            </div>
                            <!-- CTA Contact Content End -->

                            <!-- CTA Contact Button Start -->
                            <div class="cta-contact-btn">
                                <a href="contactus.html" class="btn-default btn-phone">تماس با ما</a>
                            </div>
                            <!-- CTA Contact Button End -->
                        </div>
                        <!-- Sidebar Cta Box End -->
                    </div>
                    <!-- Service Sidebar End -->
                </div>
                
                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Featured Image Start -->
                        <div class="service-featured-image">
                            <figure class="image-anime reveal">
                                <img src="{{ API_GET("/pigi","cancergenes","A1").data[0].image | raw }}" alt="">
                            </figure>
                        </div>
                        <!-- Service Featured Image End -->

                        <!-- Service Entry Start -->
                        <div class="service-entry">
                            <!-- Proving Services Start -->
                            <div class="providing-services">
                                <h2 class="">انواع ژن‌هایی که باعث سرطان می‌شوند</h2>
                                <p class="wow fadeInUp">
یک تغییر DNA می‌تواند باعث شود ژن‌های دخیل در رشد طبیعی سلول به انکوژن تبدیل شوند. برخلاف ژن‌های طبیعی، انکوژن‌ها را نمی‌توان خاموش کرد، بنابراین باعث رشد کنترل نشده سلول می‌شوند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
تغییرات ژنتیکی که در ایجاد سرطان نقش دارند، معمولاً بر سه نوع اصلی ژن تأثیر می‌گذارند - پروتوانکوژن‌ها، ژن‌های سرکوبگر تومور و ژن‌های ترمیم DNA. این تغییرات گاهی اوقات "محرک‌های" سرطان نامیده می‌شوند.
</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s">
پروتوانکوژن‌ها در رشد و تقسیم طبیعی سلول نقش دارند. با این حال، هنگامی که این ژن‌ها به روش‌های خاصی تغییر می‌کنند یا فعال‌تر از حالت طبیعی هستند، ممکن است به ژن‌های ایجادکننده سرطان (یا انکوژن‌ها) تبدیل شوند و به سلول‌ها اجازه دهند در زمانی که نباید رشد کنند و زنده بمانند.
</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s">
ژن‌های سرکوبگر تومور نیز در کنترل رشد و تقسیم سلولی نقش دارند. سلول‌هایی که تغییرات خاصی در ژن‌های سرکوبگر تومور دارند، ممکن است به صورت کنترل نشده تقسیم شوند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
ژن‌های ترمیم DNA در ترمیم DNA آسیب دیده نقش دارند. سلول‌هایی که در این ژن‌ها جهش دارند، تمایل دارند جهش‌های اضافی در ژن‌های دیگر و تغییراتی در کروموزوم‌های خود ایجاد کنند، مانند تکثیر و حذف بخش‌های کروموزوم. این جهش‌ها در کنار هم ممکن است باعث سرطانی شدن سلول‌ها شوند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
همانطور که دانشمندان اطلاعات بیشتری در مورد تغییرات مولکولی منجر به سرطان کسب کرده‌اند، دریافته‌اند که جهش‌های خاصی معمولاً در بسیاری از انواع سرطان رخ می‌دهند. اکنون درمان‌های سرطان زیادی وجود دارد که جهش‌های ژنی موجود در سرطان را هدف قرار می‌دهند. تعدادی از این درمان‌ها را می‌توان توسط هر کسی که سرطانی دارد که جهش مورد نظر را دارد، صرف نظر از محل شروع رشد سرطان، استفاده کرد.
</p>
                            </div>
                            <!-- Proving Services Start -->
                        </div>
                        <!-- Page Single FAQs End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->

<style>
.service-entry p {
    text-align: justify;
    direction: rtl;
    line-height: 2;
}
</style>