    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Category List Start -->
                        <div class="service-catagery-list wow fadeInUp">
                            <h3>محل و نحوه گسترش سرطان</h3>
                            <ul>
                                <li><a href="cancer1.html">تعریف سرطان</a></li>
                                <li><a href="understandingcancer.html">درک سرطان</a></li>
                                <li><a href="tissuealterations.html">تغییرات بافتی که سرطان نیستند</a></li>
                            </ul>
                        </div>
                        <!-- Service Category List End -->

                        <!-- Sidebar Cta Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                              <img src="images/icon-cta.svg" alt="">
                            </div>
                            <!-- Icon Box Start -->

                            <!-- CTA Contact Content Start -->
                            <div class="cta-contact-content">
                                <h3>برای مشاروه نیاز به کمک دارید؟</h3>
                                <p>با مرکز ارتباطات کشوری به صورت 24 ساعت روز و 7 روز هفته در تماس باشید</p>
                            </div>
                            <!-- CTA Contact Content End -->

                            <!-- CTA Contact Button Start -->
                            <div class="cta-contact-btn">
                                <a href="contact.html" class="btn-default btn-phone">تماس با ما</a>
                            </div>
                            <!-- CTA Contact Button End -->
                        </div>
                        <!-- Sidebar Cta Box End -->
                    </div>
                    <!-- Service Sidebar End -->
                </div>
                
                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Featured Image Start -->
                        <div class="service-featured-image">
                            <figure class="image-anime reveal">
                                <img src="{{ API_GET("/pigi","cancer1","A1").data[0].image | raw }}" alt="">
                            </figure>
                        </div>
                        <!-- Service Featured Image End -->

                        <!-- Service Entry Start -->
                        <div class="service-entry">
                            <!-- Proving Services Start -->
                            <div class="providing-services">
                                <h2 class="">نحوه گسترش</h2>
                                <p class="wow fadeInUp">
در طول متاستاز، سلول‌های سرطانی از جایی در بدن که برای اولین بار تشکیل شده‌اند، به سایر قسمت‌های بدن گسترش می‌یابند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
سلول‌های سرطانی در یک سری مراحل در بدن گسترش می‌یابند. این مراحل عبارتند از:
رشد به داخل یا حمله به بافت طبیعی مجاور
حرکت از طریق دیواره‌های غدد لنفاوی یا رگ‌های خونی مجاور
سفر از طریق سیستم لنفاوی و جریان خون به سایر قسمت‌های بدن
توقف در رگ‌های خونی کوچک در مکانی دور، حمله به دیواره‌های رگ‌های خونی و حرکت به بافت اطراف
رشد در این بافت تا زمانی که یک تومور کوچک تشکیل شود
باعث رشد رگ‌های خونی جدید می‌شود که باعث ایجاد منبع خونی می‌شود که به تومور متاستاتیک اجازه می‌دهد به رشد خود ادامه دهد.
</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s">
بیشتر اوقات، سلول‌های سرطانی در نقطه‌ای از این فرآیند می‌میرند. اما، تا زمانی که شرایط برای سلول‌های سرطانی در هر مرحله مساعد باشد، برخی از آنها قادر به تشکیل تومورهای جدید در سایر قسمت‌های بدن هستند. سلول‌های سرطانی متاستاتیک همچنین می‌توانند سال‌ها در یک محل دوردست غیرفعال بمانند، قبل از اینکه دوباره شروع به رشد کنند، اگر اصلاً رشد کنند.
</p>
                                <h2 class="">محل گسترش</h2>

                                <p class="wow fadeInUp" data-wow-delay="0.2s">
سرطان می‌تواند تقریباً به هر قسمتی از بدن گسترش یابد، اگرچه انواع مختلف سرطان بیشتر از سایر نقاط به نواحی خاصی گسترش می‌یابند. شایع‌ترین محل‌هایی که سرطان در آنها گسترش می‌یابد استخوان، کبد و ریه هستند. لیست زیر شایع‌ترین محل‌های متاستاز، به جز غدد لنفاوی، را برای برخی از سرطان‌های رایج نشان می‌دهد:
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
تصویری که متاستاز را نشان می‌دهد، زمانی که یک سرطان اولیه از محل اولیه خود به سایر قسمت‌های بدن گسترش می‌یابد.در متاستاز، سلول‌های سرطانی از جایی که ابتدا تشکیل شده‌اند جدا می‌شوند و تومورهای جدیدی را در سایر قسمت‌های بدن تشکیل می‌دهند.
</p>
                     </div>
                            <!-- Proving Services Start -->
                        </div>
                        <!-- Page Single FAQs End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
<style>
.service-entry p {
    text-align: justify;
    direction: rtl;
    line-height: 2;
}
</style>