    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Category List Start -->
                        <div class="service-catagery-list wow fadeInUp">
                            <h3>شناخت و درک سرطان</h3>
                            <ul>
                                <li><a href="cancer1.html">تعریف سرطان</a></li>
                                <li><a href="understandingcancer.html">درک سرطان</a></li>
                                <li><a href="tissuealterations.html">تغییرات بافتی که سرطان نیستند</a></li>
                            </ul>
                        </div>
                        <!-- Service Category List End -->

                        <!-- Sidebar Cta Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                              <img src="images/icon-cta.svg" alt="">
                            </div>
                            <!-- Icon Box Start -->

                            <!-- CTA Contact Content Start -->
                            <div class="cta-contact-content">
                                <h3>برای مشاروه نیاز به کمک دارید؟</h3>
                                <p>با مرکز ارتباطات کشوری به صورت 24 ساعت روز و 7 روز هفته در تماس باشید</p>
                            </div>
                            <!-- CTA Contact Content End -->

                            <!-- CTA Contact Button Start -->
                            <div class="cta-contact-btn">
                                <a href="contact.html" class="btn-default btn-phone">تماس با ما</a>
                            </div>
                            <!-- CTA Contact Button End -->
                        </div>
                        <!-- Sidebar Cta Box End -->
                    </div>
                    <!-- Service Sidebar End -->
                </div>
                
                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Featured Image Start -->
                        <div class="service-featured-image">
                            <figure class="image-anime reveal">
                                <img src="{{ API_GET("/pigi","cancer2","A1").data[0].image | raw }}" alt="">
                            </figure>
                        </div>
                        <!-- Service Featured Image End -->

                        <!-- Service Entry Start -->
                        <div class="service-entry">
                            <!-- Proving Services Start -->
                            <div class="providing-services">
                                <h2 class="">تفاوت‌های بین سلول‌های سرطانی و سلول‌های طبیعی</h2>
                                <p class="wow fadeInUp">
سلول‌های سرطانی از بسیاری جهات با سلول‌های طبیعی متفاوت هستند. به عنوان مثال، سلول‌های سرطانی: در غیاب سیگنال‌هایی که به آنها می‌گویند رشد کنند، رشد می‌کنند. سلول‌های طبیعی فقط زمانی رشد می‌کنند که چنین سیگنال‌هایی را دریافت کنند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
سیگنال‌هایی را که معمولاً به سلول‌ها می‌گویند تقسیم را متوقف کنند یا بمیرند، نادیده می‌گیرند (فرآیندی که به عنوان مرگ برنامه‌ریزی‌شده سلولی یا آپوپتوز شناخته می‌شود).
</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s">
به نواحی مجاور حمله می‌کنند و به سایر نواحی بدن گسترش می‌یابند. سلول‌های طبیعی هنگام برخورد با سلول‌های دیگر، رشد خود را متوقف می‌کنند و اکثر سلول‌های طبیعی در بدن حرکت نمی‌کنند.
</p>

                                <p class="wow fadeInUp" data-wow-delay="0.2s">
به رگ‌های خونی می‌گویند که به سمت تومورها رشد کنند. این رگ‌های خونی، اکسیژن و مواد مغذی را به تومورها می‌رسانند و مواد زائد را از تومورها خارج می‌کنند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
از سیستم ایمنی پنهان می‌شوند. سیستم ایمنی معمولاً سلول‌های آسیب‌دیده یا غیرطبیعی را از بین می‌برد.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
سیستم ایمنی را فریب می‌دهد تا به سلول‌های سرطانی کمک کند زنده بمانند و رشد کنند. برای مثال، برخی از سلول‌های سرطانی، سلول‌های ایمنی را متقاعد می‌کنند که به جای حمله به تومور، از آن محافظت کنند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
تغییرات متعددی در کروموزوم‌های خود، مانند تکثیر و حذف بخش‌های کروموزوم، ایجاد می‌کنند. برخی از سلول‌های سرطانی دو برابر تعداد طبیعی کروموزوم دارند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
به انواع مختلفی از مواد مغذی نسبت به سلول‌های طبیعی وابسته هستند. علاوه بر این، برخی از سلول‌های سرطانی از مواد مغذی به روشی متفاوت از اکثر سلول‌های طبیعی انرژی تولید می‌کنند. این امر به سلول‌های سرطانی اجازه می‌دهد سریع‌تر رشد کنند.
</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">
بسیاری از اوقات، سلول‌های سرطانی آنقدر به این رفتارهای غیرطبیعی وابسته هستند که بدون آنها نمی‌توانند زنده بمانند. محققان از این واقعیت بهره برده‌اند و درمان‌هایی را توسعه داده‌اند که ویژگی‌های غیرطبیعی سلول‌های سرطانی را هدف قرار می‌دهند. به عنوان مثال، برخی از درمان‌های سرطان از رشد رگ‌های خونی به سمت تومورها جلوگیری می‌کنند و اساساً تومور را از مواد مغذی مورد نیاز محروم می‌کنند.
</p>
                     </div>
                            <!-- Proving Services Start -->
                        </div>
                        <!-- Page Single FAQs End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
<style>
.service-entry p {
    text-align: justify;
    direction: rtl;
    line-height: 2;
}
</style>